nav {
  /* display: flex;
  left: -320px;
  transition: all 200ms ease-in-out;

  flex-direction: column;
  justify-content: flex-start;

  position: fixed;
  top: 0;
  height: 100vh; */
  /* display: flex;
  flex-direction: row;
  justify-content: center; */
  color: white;
  /* background: #2b2b2b; */
  /* width: 320px; */
}

nav label {
  text-align: right;
  display: block;
  margin: 1rem;
}

nav i {
  color: #2b2b2b;
  margin: 3px;
}

nav ul {
  padding: 0;
  display: flex;
  flex-direction: row;
}

nav ul li {
  text-transform: capitalize;
  list-style: none;
  font-size: .8rem;
  padding: 0.1rem 0.4rem;
  margin: 0 0.2rem;
  /* display: flex;
  justify-content: space-between; */
  color: #2b2b2b;
  background-color: #f7f5f5;
  border-radius: 10px;
}

/* nav li:nth-child(odd) {
  color: #2b2b2b;
  background-color: #f7f5f5;
}

nav li:nth-child(odd) i {
  color: #2b2b2b;
} */

/* input[type="checkbox"] {
  display: none;
} */

/* input[type="checkbox"]:checked ~ nav {
  transform: translateX(100%);
} */

/* nav form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin: 2rem 0;
  padding: 0 10px;
} */

/* nav input[type="text"] {
  width: 100%;
  font-size: 1.3rem;
} */

/* nav button {
  font-size: 1.3rem;
  width: 100%;
  padding: 0.3rem 0;
} */
