article {
   padding: 1rem;
   clear: both;
}

article:nth-child(odd) {
   background-color: darkgrey;
}

article img {
   max-width: 200px;
   float: left;
   display: none;
   margin: 0 1rem 1rem 0;
}

main .wrapper {
   background-color: lightgrey;
}

article h2 {
   margin: 0;
}

article h2 a {
   color: black;
   text-decoration: none;
   font-weight: bolder;
}

article h3 {
   display: block;
   margin: 0 auto;
   color: #858282;
}

article h4 {
   display: block;
   margin: 0;
   color: #323232;
}

article p {
   display: none;
}

@media (min-width: 600px) {
   article p {
      display: block;
   }
}

@media (min-width: 750px) {
   article img {
      display: inline-block;
   }
}