header {
   color: #2b2b2b;
   background: linear-gradient(to bottom, rgba(232,234,236,0.1),rgba(232,234,236,0.1)), url(../assets/background.png);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: 50% 50%;
   height: 70vh;
}

header .wrapper {
   display: flex;
   flex-direction: column;
   /* justify-content: space-between; */
   /* align-items: start; */
   height: 60vh;
}

header h1 {
   margin-bottom: 1rem;
   color: whitesmoke;
   align-self: flex-end
}

header form {
   align-self: flex-end;
}

header i {
   /* position: absolute; */
   /* top: 10px; */
   /* right: 10px; */
   margin-top: 0.5rem;
   font-size: 1.4rem;
   z-index: 10;
}

header input, header button {
   height: 2.5rem;
   border: 0;
   display: inline-block;
   font-size: 1.8rem;
}

header input[type="text"] {
   /* width: 70%; */
   /* padding: 1rem; */
	font-size: 1.3rem;
}

header button {
	font-size: 1.3rem;
	/* width: 30%; */
	/* padding: 0.3rem 0 ; */
}