header {
   color: black;
   background-image: url("../assets/background.png");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: 50% 50%;
   height: 20vh;
}

header .wrapper {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: start;
}

header h1 {
   margin-bottom: 1rem;
   color: whitesmoke;
   align-self: flex-end
}

header i {
   /* position: absolute; */
   /* top: 10px; */
   /* right: 10px; */
   margin-top: 0.5rem;
   font-size: 1.4rem;
}