nav {

	display: flex;
	left: -80vw;
	transition:all 200ms ease-in-out;

   flex-direction: column;
   justify-content: flex-start;

	position: absolute;
	top: 0;
	height: 100vh;
	color: white;
	background: black;
	width: 80vw;
	/* max-width: 450px; */
}

nav i {
	color: white;
	margin: 3px;
}

nav ul {
	padding: 0;
}

nav li {
	text-transform: capitalize;
	list-style: none;
	font-size: 2rem;
	padding: 1rem;
	display: flex;
	justify-content: space-between;
}

nav li:nth-child(odd) {
	background-color: #98C1DC;
}

input[type="checkbox"] {
	display: none;
}

input[type="checkbox"]:checked ~ nav{
	display: flex;
	/* transition:all 200ms ease-in-out; */
	transform:translateX(100%);
}

nav form {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	margin: 2rem 0;
	padding: 0 10px;
}

nav input[type="text"] {
	width: 100%;
	/* width: 50vw; */
	font-size: 1.3rem;
}

nav button {
	font-size: 1.3rem;
	width: 100%;
	padding: 0.3rem 0 ;
}